<div class="row">
  <div class="col-lg-6 col-md-8 offset-3">
    <Card>
      <div class="row">
        <h2 class="pb-2">Login</h2>
        <hr />
        <Alert id="login-alert" color="danger" light="true" dismissible="true" hidden="true"><%= (page.message || "The username/password combination entered doesn't match.") %></Alert>
        <Form id="login-form" >
          <TextInput name="username" label="Username/Email Address" />
          <PasswordInput name="password" label="Password" />
          <Button color="primary" onclick="@.page.submitForm">Login</Button>
        </form>
      </div>
    </Card>
  </div>
</div>