<div class="row">
  <div class="col-lg-6 col-md-8 offset-3">
    <Card>
      <div class="row">
        <h2 class="pb-2">Logout</h2>
        <hr />
        <p>Thanks for visiting! Click the button below to log back in.</p>
        <div class="text-center">
          <Button color="primary" onclick="@.page.login">Login</Button>
        </div>
      </div>
    </Card>
  </div>
</div>