<div class="row mb-3">
  <div class="col-2 text-start">
    <Icon lib="fa-solid" icon="angle-left" size="30px" clickable="true" onclick="@.page.prevMonth" />
  </div> 
  <div class="col-8 text-center">
    <Form id="calendar-control">
      <SelectInput name="month" value="@.page.calendarMonth" inline="true" onchange="@.page.updateFilter">
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </SelectInput>
      <SelectInput name="year" value="@.page.calendarYear" inline="true" onchange="@.page.updateFilter">
        <% for(let i = page.year - 10; i < page.year + 10; i++) { %>
          <option value="<%- i %>"><%- i %></option>
        <% } %>
      </SelectInput>
    </Form>
  </div>
  <div class="col-2 text-end">
    <Icon lib="fa-solid" icon="angle-right" size="30px" clickable="true"  onclick="@.page.nextMonth" />
  </div> 
</div>
<Card>
  <TodoCalendar todos="@.page.todos" month="@.page.calendarMonth" year="@.page.calendarYear" />
</Card>