<div class="row">
  <div class="col-12 col-lg-6">
    <Card>
      <Alert id="edit-todo-alert" color="danger" light="true" dismissible="true" hidden="true" message="@.modal.message"></Alert>
      <form id="edit-todo">
        <TextInput name="title" label="Title" required="true" value="@.page.todo.title" />
        <DateInput name="date" label="Date" value="@.page.todo.date" />
        <SelectInput name="color" label="Color" value="@.page.todo.color">
          <option value="green">Green</option>
          <option value="blue">Blue</option>
          <option value="orange">Orange</option>
          <option value="red">Red</option>
          <option value="yellow">Yellow</option>
        </SelectInput>
        <TextareaInput name="description" label="Description" helpText="This should be a description if the todo if necessary." rows="10" required="true" value="@.page.todo.description" /> 
        <SwitchInput name="done_flag" label="Completed" value="@.page.todo.done_flag" />
        <TextareaInput name="completion_notes" label="Completion Notes" helpText="Anything else to add about this todo?" rows="10" required="false" value="@.page.todo.completion_notes" /> 
      </form>
      <div class="text-end">
        <span id="edit-success" class="text-success px-2 d-none">Updated!</span>
        <Button color="danger" onclick="@.page.deleteTodo">Delete</Button>
        <Button color="primary" class="mx-2" onclick="@.page.saveTodo">Save</Button>
      </div>
    </Card>
  </div>
</div>
