<div class="row">
  <div class="col-12">
    <div class="text-end mb-3">
      <Button id="add-todo" color="primary" onClick="@.page.createTodo">Create Todo</Button>
    </div>
    <FilterContainer title="Filter">
      <form id="list-filter">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <TextInput label="Search" name="search" value="@.page.filterSearch" />
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <SelectInput label="Status" name="status" value="@.page.filterStatus">
              <option value="not-complete">Not Complete</option>
              <option value="complete">Complete</option>
              <option value="all">All Todos</option>
            </SelectInput>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-6 text-end">
            <Button color="light" onclick="@.page.updateFilter">Update Filter</Button>
          </div>
        </div>
        
      </form>
    </FilterContainer>
    <Card>
      <DataTable id="todo-list-table" url="<%= $App.getConfig('baseUrl') %>/todo/list" sort="date" sortDir="asc" filter="list-filter">
        <columns>
          <col key="color" title="Color" sortable="true" width="50px">
            <ColorBox color="{{color}}" />
          </col>
          <col key="title" title="Title" sortable="true" />
          <col key="date" title="Date" sortable="true" type="date" />
          <col key="description" title="Description" sortable="false" />
          <col key="done_flag" title="Done?" sortable="true" type="boolean" />
          <col title="Actions" key="id" sortable="false" width="150px">
            <Button color="success" size="sm" data-id="{{id}}" onclick="@.page.markDone">Mark Done</Button> <Button class="mx-2" color="light" size="sm" data-id="{{id}}" onclick="@.page.editTodo">Edit</Button>
          </col>
        </columns>
      </DataTable>
    </Card>
  </div>
</div>