<Alert id="mark-todo-alert" color="danger" light="true" dismissible="true" hidden="true" message="@.modal.message"></Alert>
<form id="mark-todo">
  <SwitchInput name="done_flag" label="Completed" />
  <TextareaInput name="completion_notes" label="Completion Notes" helpText="Anything else to add about this todo?" rows="10" required="false" /> 
</form>