<FullLayout 
  logo="/assets/images/todos-logo.png" 
  sidebarMenu="@.session.sidebarMenu"
  sidebarMenuActive="@.page.sidebarMenuActive">
  <p>
    What I don't <i>understand</i>, Charlie, is what you're trying to say to me.
  </p>
  <pagecontent />
</FullLayout>